$MainCyan: #3DBEFF;
$White: hsl(0, 0%, 100%);
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

.header {
    height: 60vh;
    background-image: url('/src/components/header/image-header.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    font-family: 'Fraunces', serif;

    h1 {
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {
    .header {
        background-image: url('/Users/carlos/Documents/sunnyside/src/issues/desktop/image-header.jpg');
        height: 75vh;
        
    }


}