.navigation {
    font-size: 20px;
    text-align: center;

    .brand {
        font-size: 28px;
    }

    .contact {
        padding: 10px;
        background-color: #fff;
        width: 50%;
        align-self: center;
        border-radius: 202px;
    }
}

