$Yellow: hsl(51, 100%, 49%);
$White: hsl(0, 0%, 100%);

.navigation {
    font-size: 20px;
    text-align: center;


    .brand {
        font-size: 28px;
    }

    .btn-contact {
        background-color: $Yellow;
        width: 150px;
        height: 40px;
        border-radius: 10px;
    }
}

